In [1]:
import pandas as pd

In [2]:
genres1= [[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6]]
# genres2 = [1,2,3,4,5,6]

In [3]:
len(genres1)

2

In [4]:
genres_df = pd.DataFrame(data=(genres1))

In [5]:
genres_df

   0  1  2  3  4  5    6    7    8
0  1  2  3  4  5  6  7.0  8.0  9.0
1  1  2  3  4  5  6  NaN  NaN  NaN

In [6]:
len(genres_df.columns)

9

In [25]:
def get_genres(genre):
    columns = [n+1 for n in range(len(genres_df.columns))]
    return columns

In [27]:
get_genres(genres_df)

NameError: name 'get_genres' is not defined

In [ ]:
df['new_column'] = df[['lat', 'long']].values.tolist()

In [7]:
genres_df['all_together'] = genres_df[[n for n in range(len(genres_df.columns))]].values.tolist()

In [8]:
genres_df

,0,1,2,3,4,5,6,7,8,all_together
0,1,2,3,4,5,6,7.0,8.0,9.0,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]"
1,1,2,3,4,5,6,NaN,NaN,NaN,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, nan, nan, nan]"

In [13]:
# genres_df = genres_df.drop(columns=[n for n in range(len(genres_df.columns), (n-1 for n in range(len(genres_df.columns)))])


# genres_df = genres_df.drop(columns=[n for n in range(len(genres_df.columns), (n-1 for n in range(len(genres_df.columns))))])

genres_df = genres_df[['all_together']]

In [14]:
genres_df['all_together'] = genres_df.all_together.apply(lambda x: [name for name in x if not pd.isnull(name)])

/Users/amirshirazi/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
genres_df.head()

                                    all_together
0  [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]
1                 [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [16]:
length_of_genres = pd.DataFrame(genres_df['all_together'].str.len())
len_genres = length_of_genres['all_together'].to_list()
len_genres = max(len_genres)

In [17]:
length_of_genres

   all_together
0             9
1             6

In [18]:
len_genres = length_of_genres['all_together'].to_list()

In [19]:
len_genres = max(len_genres)

In [20]:
sep_genres = pd.DataFrame(genres_df['all_together'].to_list(), columns=[n for n in range(len_genres)])

In [21]:
sep_genres

     0    1    2    3    4    5    6    7    8
0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
1  1.0  2.0  3.0  4.0  5.0  6.0  NaN  NaN  NaN

In [22]:
sep_genres['genres'] = sep_genres.values.tolist()

In [23]:
sep_genres

,0,1,2,3,4,5,6,7,8,genres
0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]"
1,1.0,2.0,3.0,4.0,5.0,6.0,NaN,NaN,NaN,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, nan, nan, nan]"

In [34]:
sep_genres = sep_genres[['genres']]

In [35]:
sep_genres

                                          genres
0  [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]
1  [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, nan, nan, nan]